/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
:root {
  --main-text-color: #757575;
  --text-title-color: #212121;
  --accent-text: #2196f3;
  --primary-white-color: #ffffff;
  --team-link-color: #afb1b8;
  --footer-bcg-color: #2f303a;
  --hero-bcg-color: rgba(47, 48, 58, 0.8);
}
::before,
::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  color: var(--main-text-color);
  background-color: #ffffff;

  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.site-nav:hover,
.site-nav:focus {
  color: var(--accent-text);
}

.nav-link.current {
  color: var(--accent-text);
}
.mail-link,
.tel-link {
  color: var(--primary-white-color);
}

.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-text);
}
.list {
  list-style: none;
}
.logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text);
}
.logo {
  color: var(--text-title-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
}
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-title-color);
}
.link {
  color: var(--accent-text);
}
.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.link-mail,
.link-tel {
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/*Герой*/
.hero {
  color: var(--primary-white-color);
  background-color: var(--hero-bcg-color);
}
.section-head {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-head {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-text);
}
.title-detalis {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
}
.title-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var (--main-text-color);
}
/*услуги*/
.section-service {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
}
.service-description {
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/*Наша команда*/
.section-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.social-networks {
  color: var(--team-link-color);
}
.social-networks:hover,
.social-networks:focus {
  color: var(--accent-text);
}

/*footer*/
.footer {
  color: var(--primary-white-color);
  background-color: var(--footer-bcg-color);
}

.logo.footer {
  color: var(--primary-white-color);
}

.address-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-text a {
  color: rgba(255, 255, 255, 0.6);
}

.address-text a:hover,
.address-text a:focus {
  color: var(--accent-text);
}

b {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*Portfolio*/
.button-second {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.card-hover {
  color: var(--primary-white-color);
  background-color: var(--accent-text);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
.title-card {
  color: var(--text-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
